html,
body {
  color: white;
  padding: 0;
  background-color: black;
  margin: 0;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;

}

* {
  box-sizing: border-box;
}

img {
  width: 80%;
}
.overlay-base, .xoverlay-base {
  padding: 1rem;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  opacity: 0;
  transition-property: background-color, opacity;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
  outline: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ded {
  font-size: clamp(32px, 5vw, 80px);
}

.overlay-after, .xoverlay-after {
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 1;
}
.freshnft {
  display: flex;
  flex-direction: column;
  align-items: center;

}


.overlay-before, .xoverlay-before {
  background-color: rgba(0, 0, 0, 0);
  opacity: 0;
}

.content-base, .xcontent-base {
  position: relative;
  
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
 
  margin: 0 auto;
  border: 0;
  outline: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  background-color: transparent;
  transition-property: display;
  transition-duration: 400ms;
  transition-timing-function: ease-in-out;
}

p { color: black}

.content-after, .xcontent-after {
  width: 50%;
  display: block;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  border: 2px solid;
  background-color: #ffffff;
  border-radius: 25px;
}

#QRcode {
  width: 100%;
}

main {
  /* padding: 5rem 0; */
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1,h2 {
  font-family: ethnocentric, sans-serif;
  font-weight: 400;
  font-style: italic;
  background: -webkit-linear-gradient(right,#FFFF19, #FF00BF);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}

h3 {
  margin: 10;
}

 /* .status {
  background: #fafafa;
  color: black;
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
} */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
}

.status-container {
  position: relative;
}

.status-container a {
  color: white;
  position: absolute;
  text-decoration: none;
  bottom: 5px;
}

.info-modal {
  padding: 10px;
}

.howThisWorks {
  margin-top: 10px;
  margin-bottom: 20px;
  border: 2px solid;
  border-radius: 25px;
  padding: 15px;;
}

.preview-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  align-items: center;
  position: relative;
}

li + li {
  margin-top: 15px;
}


.next-link {
  margin-top: 25px;
  text-decoration: none;
  font-family: 'ethnocentric';
  padding: 10px;
  background-color: #e710b1;
  color: white;
  border: solid 4px white;
  cursor: pointer;
  min-width: 130px;
  text-align: center;
  border-radius: 20px;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}

button {
  position: absolute;
  bottom: 20px;
  min-width:130px;
  /* padding: 10px;
  margin: 40px;
  background-color: transparent;
  color: white;
  border: solid 4px white;
  cursor: pointer;
  border-radius: 20px;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace; */
  padding: 10px;
  background-color: #e710b1;
  color: white;
  border: solid 4px white;
  cursor: pointer;
  border-radius: 20px;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;


}


.verified {
  color: #5aef10;
  font-family: lft-etica-mono, sans-serif;
  font-size: 30px;
  font-weight: 400;
  font-style: normal;
  text-shadow: rgb(18 233 54 / 78%) 0px 0px 12px;
  }

  .declined {
    color: #f30546;
    font-family: lft-etica-mono, sans-serif;
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    text-shadow:rgb(255 0 119 / 64%) 0px 0px 12px
    }
  
    
    



@media only screen and (max-width: 620px) {
  .content-after {
    width: 90%;
  }
  
}


